<div class="listPokemon" ui-tour ui-tour-append-to-body=false ui-tour-scroll-offset="700"
    ui-tour-on-ready="onTourReady(tour)">
    <p id="main0" 
        tour-step tour-step-title="Startup Tour" 
        tour-step-content="Navigate the site using this menu."
        tour-step-order="0" 
        tour-step-placement="bottom-left">Hello {{name}}!</p>
    <b>Pokemon Name :</b>
    <ul ng-repeat="x in $root.pokeList">
        <br>
        <li>
            <a href="#!/{{x.name}}">{{x.name}}</a>
        </li>
    </ul>
    <div class="btnPrevNext">
        <br>
        <button ng-click="vm.getLink(vm.previous)" ng-disabled="!vm.previous">Previous</button>
        <button ng-click="vm.getLink(vm.next)" ng-disabled="!vm.next">Next</button>
    </div>
</div>